
<div class="container mt-3">
    <div class="input-group">
        <!-- Text input -->
        <input type="text" class="form-control" placeholder="Enter text">

        <!-- First dropdown -->
        <div class="input-group-append">
            <select class="form-select">
                <option selected>Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>

        <!-- Second dropdown -->
        <div class="input-group-append">
            <select class="form-select">
                <option selected>Option A</option>
                <option value="B">Option B</option>
                <option value="C">Option C</option>
            </select>
        </div>

        <!-- Third dropdown -->
        <div class="input-group-append">
            <select class="form-select">
                <option selected>Option X</option>
                <option value="Y">Option Y</option>
                <option value="Z">Option Z</option>
            </select>
        </div>
    </div>
</div>



@code {

}
