@page "/myprofile"
@inject NavigationManager navManager
@inject ILoginService loginService
<h3>BrowseItems</h3>

@code {
    public User? user;

    protected override async Task OnInitializedAsync()
    {
        user = await loginService.GetUserLoggedIn();
        if (user is null)
            navManager.NavigateTo("login/myprofile");
    }
}
